<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyou.spring.cloud.alibaba.commons.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.haoyou.spring.cloud.alibaba.commons.entity.Activity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="l10n" jdbcType="VARCHAR" property="l10n" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="numerical_name" jdbcType="VARCHAR" property="numericalName" />
    <result column="activity_type" jdbcType="VARCHAR" property="activityType" />
    <result column="refresh" jdbcType="INTEGER" property="refresh" />
    <result column="preset_enabled" jdbcType="INTEGER" property="presetEnabled" />
  </resultMap>
</mapper>
