<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyou.spring.cloud.alibaba.commons.mapper.LevelDesignMapper">
  <resultMap id="BaseResultMap" type="com.haoyou.spring.cloud.alibaba.commons.entity.LevelDesign">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="chapter_name" jdbcType="VARCHAR" property="chapterName" />
    <result column="id_num" jdbcType="INTEGER" property="idNum" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="l10n" jdbcType="VARCHAR" property="l10n" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="base_level" jdbcType="INTEGER" property="baseLevel" />
    <result column="ordinary_first_award" jdbcType="VARCHAR" property="ordinaryFirstAward" />
    <result column="ordinary_award" jdbcType="VARCHAR" property="ordinaryAward" />
    <result column="difficulty_first_award" jdbcType="VARCHAR" property="difficultyFirstAward" />
    <result column="difficulty_award" jdbcType="VARCHAR" property="difficultyAward" />
    <result column="crazy_first_award" jdbcType="VARCHAR" property="crazyFirstAward" />
    <result column="crazy_award" jdbcType="VARCHAR" property="crazyAward" />
    <result column="pet_type1" jdbcType="VARCHAR" property="petType1" />
    <result column="pet_level1" jdbcType="INTEGER" property="petLevel1" />
    <result column="pet_type2" jdbcType="VARCHAR" property="petType2" />
    <result column="pet_level2" jdbcType="INTEGER" property="petLevel2" />
    <result column="pet_type3" jdbcType="VARCHAR" property="petType3" />
    <result column="pet_level3" jdbcType="INTEGER" property="petLevel3" />
  </resultMap>
</mapper>
