<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyou.spring.cloud.alibaba.commons.mapper.LevLoyaltyMapper">
  <resultMap id="BaseResultMap" type="com.haoyou.spring.cloud.alibaba.commons.entity.LevLoyalty">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="loyalty_lev" jdbcType="INTEGER" property="loyaltyLev" />
    <result column="level_max" jdbcType="INTEGER" property="levelMax" />
    <result column="ingredients" jdbcType="INTEGER" property="ingredients" />
    <result column="ingredients_sum" jdbcType="INTEGER" property="ingredientsSum" />
  </resultMap>
</mapper>
