<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyou.spring.cloud.alibaba.commons.mapper.PetTypeMapper">
  <resultMap id="BaseResultMap" type="com.haoyou.spring.cloud.alibaba.commons.entity.PetType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="l10n" jdbcType="VARCHAR" property="l10n" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="atn" jdbcType="INTEGER" property="atn" />
    <result column="def" jdbcType="INTEGER" property="def" />
    <result column="spd" jdbcType="INTEGER" property="spd" />
    <result column="hp" jdbcType="INTEGER" property="hp" />
    <result column="luk" jdbcType="INTEGER" property="luk" />
    <result column="star_class" jdbcType="INTEGER" property="starClass" />
    <result column="inh_skill" jdbcType="VARCHAR" property="inhSkill" />
    <result column="unique_skill" jdbcType="VARCHAR" property="uniqueSkill" />
    <result column="talent_skill" jdbcType="VARCHAR" property="talentSkill" />
    <result column="special_attack" jdbcType="VARCHAR" property="specialAttack" />
    <result column="full_skill_board" jdbcType="VARCHAR" property="fullSkillBoard" />
    <result column="atn_gr" jdbcType="INTEGER" property="atnGr" />
    <result column="def_gr" jdbcType="INTEGER" property="defGr" />
    <result column="hp_gr" jdbcType="INTEGER" property="hpGr" />
    <result column="ingredients_name1" jdbcType="VARCHAR" property="ingredientsName1" />
    <result column="ingredients_name2" jdbcType="VARCHAR" property="ingredientsName2" />
    <result column="ingredients_name3" jdbcType="VARCHAR" property="ingredientsName3" />
    <result column="ingredients_name4" jdbcType="VARCHAR" property="ingredientsName4" />
    <result column="ingredients_attr1" jdbcType="VARCHAR" property="ingredientsAttr1" />
    <result column="ingredients_attr2" jdbcType="VARCHAR" property="ingredientsAttr2" />
    <result column="ingredients_attr3" jdbcType="VARCHAR" property="ingredientsAttr3" />
    <result column="ingredients_attr4" jdbcType="VARCHAR" property="ingredientsAttr4" />
    <result column="skill_board" jdbcType="LONGVARBINARY" property="skillBoard" />
  </resultMap>
</mapper>
