<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyou.spring.cloud.alibaba.commons.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.haoyou.spring.cloud.alibaba.commons.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="id_num" jdbcType="VARCHAR" property="idNum" />
    <result column="server_id" jdbcType="INTEGER" property="serverId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="platform_param" jdbcType="LONGVARBINARY" property="platformParam" />
    <result column="creat_date" jdbcType="TIMESTAMP" property="creatDate" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
    <result column="last_login_out_date" jdbcType="TIMESTAMP" property="lastLoginOutDate" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="last_login_url" jdbcType="VARCHAR" property="lastLoginUrl" />
    <result column="pet_exp" jdbcType="BIGINT" property="petExp" />
  </resultMap>
</mapper>
