<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyou.spring.cloud.alibaba.commons.mapper.PetTypeAiMapper">
  <resultMap id="BaseResultMap" type="com.haoyou.spring.cloud.alibaba.commons.entity.PetTypeAi">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pet_type_uid" jdbcType="VARCHAR" property="petTypeUid" />
    <result column="attack" jdbcType="INTEGER" property="attack" />
    <result column="special_attack" jdbcType="INTEGER" property="specialAttack" />
    <result column="shield" jdbcType="INTEGER" property="shield" />
    <result column="skill" jdbcType="INTEGER" property="skill" />
  </resultMap>
</mapper>