<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyou.spring.cloud.alibaba.commons.mapper.ResoutMapper">
  <resultMap id="BaseResultMap" type="com.haoyou.spring.cloud.alibaba.commons.entity.Resout">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="num_type" jdbcType="INTEGER" property="numType" />
    <result column="rate_type" jdbcType="INTEGER" property="rateType" />
    <result column="state_uid" jdbcType="VARCHAR" property="stateUid" />
  </resultMap>
</mapper>