<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyou.spring.cloud.alibaba.commons.mapper.ResoutMapper">
  <resultMap id="BaseSkillResultMap" type="com.haoyou.spring.cloud.alibaba.commons.entity.SkillResout">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="skill_uid" jdbcType="VARCHAR" property="skillUid" />
    <result column="resout_uid" jdbcType="VARCHAR" property="resoutUid" />
  </resultMap>
</mapper>